@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Fira Code', serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #011627;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}